#contact {
    margin-top: 150px;
    color:#fff;
}

.contat-title {
    text-align: center;
    font-size: 36px;
    color: #fff;
}

.contact-box {
    display: flex;
    gap: 50px;
    justify-content: center;
}