$bgImgMainPage: url('../images/fantasy-art.png');

#header{
    height: 100vh;
}

.home-background { 
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $bgImgMainPage no-repeat center center fixed;
    background-size: cover;
    z-index: 0;
}

.home-background-shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100%;
    background-color: #00000092;
    z-index: 1;
}

.home-title-box { 
    border: 3px solid #fff;
    padding: 20px;
    border-radius: 20%;
    color: #fff;
    font-size: 25px;
    font-family: monospace;
    position: absolute;        
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    cursor: none;
}

.home-title-box:hover{
    transition: 1s ease-in;
    border-color: #e607dae4;
    color:#e607dae4;
    background-color: #00000068;
}
