#navBar {
    color: #fff;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
    z-index: 2;
}

.navBar-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 36px;
    li {
        list-style: none;
        a {
            color:#fff;
            text-decoration: none;
        }
        a:hover {
            transition: .5s ease-in;
            color:#e607dae4;
        }
    }
}

// .navBar-box {
// }