@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  background-color: rgb(17 24 39);
  color: rgb(229 231 235);
}

section {
  margin: auto;
}
